1 VERSIONINFO
  FILEVERSION 1, 2, 0, 0
  PRODUCTVERSION 1, 2, 0, 0
  FILEOS 0x040004// VOS_NT_WINDOWS32
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "0419"
    BEGIN
      VALUE "FileDescription", "NewYear Service 1.2"
      VALUE "FileVersion", "1.2"
      VALUE "Comments", "Показывает сколько дней осталось до Нового Года"
      VALUE "InternalName", "nyserv"
      VALUE "OriginalFilename", "nyserv.exe"
      VALUE "LegalCopyright", "© Pluton 2006"
    END
  END
  
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0419, 1251
  END
END